body {
  background-size: auto;
  background-size: auto;
  background-image: url("../resources/jerry.jpg")

}
h1 {
  background-image: url("../resources/jerry.jpg");
  background-size: contain;
  font-size: 10vw;
  color: #ff77ff
}

button {
  font-weight: bolder;
}

h3 {
  background-color: #ff0000
}

dt {
  font-kerning: none;
  font-size: 100px;
  color: #aaaaff
}
dd {
  color: #ffaaff

}
nav ul {
  display: inline;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background-position: center;
  background-image: url("../resources/jerry.jpg")
}

nav li {
  color: #aaff11;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  background-position: contain;
  background-image: url("../resources/jerry.jpg")
}

p {
  margin: 200spx 100px -30px 100px;
  color: #ffffff;
}

h2 {
  font-family: monospace;
  color: #fff100;
  font-size: 40vw;
  margin: 10vw 30px 40px -10px
}
